body{
color: white;
    
    padding-bottom: 20px;
    padding-top: 50px;
     background-image: url('../images/bg-1-full.jpg')
}



.jumbotron{
    text-align: center;
    /*color:red;*/
    background-image: url('../images/bg-1-full.jpg')
}
.btn-lg{
    
    font-size:36px;
}
.jumbotron p{
    color: white;
}
.col-md-4 p{
    color:white;
    text-align: center;
    
}
.col-md-4 a{
color: red;
    color:white;
}